

# JWT Secret: 
python3 -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET=CHANGE_THIS_TO_RANDOM_64_CHAR_STRING

# Gmail OTP Setup:

SMTP_EMAIL=your_gmail@gmail.com
SMTP_APP_PASSWORD=xxxx xxxx xxxx xxxx
SMTP_DEMO_MODE=true

# Kaggle API (dataset download):

KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key


PORT=5050
